<div nz-row [nzGutter]="8">
  <div nz-col nzSpan="3">
    <nz-card [nzBordered]="true" nzTitle="工具栏" [nzExtra]="extraTemplate" class="tools-background" style="padding: 0px">
      <div nz-row style="height: 100%;">
        <nz-col nz-col nzSpan="12" class="tool-panel-left">
          <div draggable [dragData]="'start'">
            <svg width="100%" height="40px" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 (mousemove)="toolsMouseMoveHandler($event, '开始')" (mouseout)="toolsMouseOutHandler()"
                 style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
              <circle cx="28" cy="20" r="18" stroke="black"
                      stroke-width="2" fill="white"></circle>
            </svg>
          </div>
          <div draggable [dragData]="'intermediates'">
            <svg width="100%" height="40px" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 (mousemove)="toolsMouseMoveHandler($event, '中继')" (mouseout)="toolsMouseOutHandler()"
                 style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
              <circle cx="28" cy="20" r="19" stroke="black"
                      stroke-width="1" fill="white"></circle>
              <circle cx="28" cy="20" r="15" stroke="black"
                      stroke-width="1" fill="white"></circle>

            </svg>
          </div>
          <div>
            <svg width="100%" height="40px" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 (mousemove)="toolsMouseMoveHandler($event, '路由')" (mouseout)="toolsMouseOutHandler()"
                 style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
              <rect width="25" height="25" x="10" y="15" stroke="black" transform="translate(30,-13)rotate(45)"
                    stroke-width="1" fill="white"></rect>

            </svg>
          </div>
        </nz-col>
        <nz-col nz-col nzSpan="12" class="tool-panel-right">
          <div draggable [dragData]="'end'">
            <svg width="100%" height="40px" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 (mousemove)="toolsMouseMoveHandler($event, '结束')" (mouseout)="toolsMouseOutHandler()"
                 style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
              <circle cx="28" cy="20" r="15" stroke="black"
                      stroke-width="5" fill="white"></circle>
            </svg>
          </div>
          <div draggable [dragData]="'task'">
            <svg width="100%" height="40px" version="1.1" xmlns="http://www.w3.org/2000/svg"
                 (mousemove)="toolsMouseMoveHandler($event, '任务')" (mouseout)="toolsMouseOutHandler()"
                 style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
              <rect width="40" height="30" x="7" y="5" stroke="black" rx="4"
                    stroke-width="1" fill="white"></rect>
            </svg>
          </div>
        </nz-col>
      </div>


      <!--<p draggable [dragData]="'task'">Card content</p>-->
      <!--<p draggable [dragData]="'oop2'">Card content</p>-->
      <!--<p draggable [dragData]="'oop3'">Card content</p>-->
    </nz-card>
  </div>
  <div nz-col nzSpan="21" class="designer-background" droppable (onDrop)="onItemDrop($event)">


    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg"
         (mousemove)="rectMouseMoveHandler($event)"
         style="touch-action: none; user-select: none; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
      <!--任务相关 开始-->
      <g *ngFor="let item of tasks"
         (mousedown)="rectMouseDownHandler($event, item)">
        <g class="d-outline">
          <rect [attr.width]="item.width" [attr.height]="item.height"
                [attr.x]="item.x" [attr.y]="item.y"
                [attr.rx]="12" [attr.fill]="item.mainColor"
                stroke="black" stroke-width="2">
          </rect>
          <text fill="black" text-anchor="middle" [attr.x]="item.x + (item.width / 2)"
                [attr.y]="item.y + 6 + (item.height / 2)" width="30"
                [attr.width]="item.width" [attr.height]="item.height">{{item.name}}
          </text>
        </g>
        <rect [attr.width]="item.width + 2 * item.borderWidth" [attr.height]="item.height + 2 * item.borderWidth" fill="none"
              [attr.x]="item.x - item.borderWidth" [attr.y]="item.y - item.borderWidth"></rect>
      </g>
      <!--任务相关 结束-->


      <!--开始相关 开始-->
      <g *ngFor="let item of starts"
         (mousedown)="rectMouseDownHandler($event, item)">
        <g class="d-outline">
          <circle [attr.r]="item.radius"
                  [attr.cx]="item.x" [attr.cy]="item.y"
                  [attr.fill]="item.mainColor"
                  stroke="black" stroke-width="2">
          </circle>
        </g>
        <rect [attr.width]="2 * item.radius + 2 * item.borderWidth" [attr.height]="2 * item.radius + 2 * item.borderWidth" fill="none"
              [attr.x]="item.x - item.borderWidth - item.radius" [attr.y]="item.y - item.borderWidth - item.radius"></rect>
      </g>
      <!--开始相关 结束-->

      <!--结束相关 开始-->
      <g *ngFor="let item of ends"
         (mousedown)="rectMouseDownHandler($event, item)">
        <g class="d-outline">
          <circle [attr.r]="item.radius"
                  [attr.cx]="item.x" [attr.cy]="item.y"
                  [attr.fill]="item.mainColor"
                  stroke="black" [attr.stroke-width]="item.strokeWidth">
          </circle>
        </g>
        <rect [attr.width]="2 * item.radius + 2 * item.borderWidth" [attr.height]="2 * item.radius + 2 * item.borderWidth" fill="none"
              [attr.x]="item.x - item.borderWidth - item.radius" [attr.y]="item.y - item.borderWidth - item.radius"></rect>
      </g>
      <!--结束相关 结束-->

      <!--中继器 开始-->
      <g *ngFor="let item of intermediates"
         (mousedown)="rectMouseDownHandler($event, item)">
        <g class="d-outline">
          <circle [attr.r]="item.radius"
                  [attr.cx]="item.x" [attr.cy]="item.y"
                  [attr.fill]="item.mainColor"
                  stroke="black" [attr.stroke-width]="item.strokeWidth">
          </circle>

          <circle [attr.r]="item.radiusInner"
                  [attr.cx]="item.x" [attr.cy]="item.y"
                  [attr.fill]="item.mainColor"
                  stroke="black" [attr.stroke-width]="item.strokeWidth">
          </circle>
        </g>
        <rect [attr.width]="2 * item.radius + 2 * item.borderWidth" [attr.height]="2 * item.radius + 2 * item.borderWidth" fill="none"
              [attr.x]="item.x - item.borderWidth - item.radius" [attr.y]="item.y - item.borderWidth - item.radius"></rect>
      </g>
      <!--中继器 结束-->

      <!--移动组件 开始-->
      <g *ngIf="taskMove"
         (mouseup)="rectMouseUpHandler($event)">
        <g>
          <rect *ngIf="isShowRect(taskMove)" [attr.width]="taskMove.width" [attr.height]="taskMove.height"
                [attr.x]="taskMove.x" [attr.y]="taskMove.y"
                [attr.rx]="12" fill="white"
                [attr.stroke]="taskMove.skin" stroke-width="2">
          </rect>
          <text *ngIf="isShowText(taskMove)" [attr.fill]="taskMove.skin" text-anchor="middle" [attr.x]="taskMove.x + (taskMove.width / 2)"
                [attr.y]="taskMove.y + 6 + (taskMove.height / 2)" width="30"
                [attr.width]="taskMove.width" [attr.height]="taskMove.height">{{taskMove.name}}
          </text>

          <circle *ngIf="isShowCircle(taskMove)" [attr.r]="taskMove.radius"
                  [attr.cx]="taskMove.x" [attr.cy]="taskMove.y" fill="white"
                  [attr.stroke]="taskMove.skin" [attr.stroke-width]="taskMove.strokeWidth">
          </circle>

          <circle *ngIf="isShowInnerCircle(taskMove)" [attr.r]="taskMove.radiusInner"
                  [attr.cx]="taskMove.x" [attr.cy]="taskMove.y" fill="white"
                  [attr.stroke]="taskMove.skin" [attr.stroke-width]="taskMove.strokeWidth">
          </circle>
        </g>
      </g>
      <!--移动组件 结束-->

    </svg>

  </div>
</div>
<div class="tool-move-tips" [style.top]="currentTip.y + 'px'" [style.left]="currentTip.x + 'px'"><span>{{currentTip.message}}</span>
</div>
