.designer-background {
  height: 800px;
  background-color: #efefef;
}

.tools-background {
  height: 400px;
  /*width: 150px;*/
  background-color: #cccccc54;
}

p {
  margin: 0;
}

.d-outline {

}

.d-outline:hover + rect {
  stroke-dasharray: 3, 3;
  stroke: red;
  stroke-width: 1;
}

.tool-move-tips {
  background-color: beige;
  position: fixed;
}

.tool-panel-left > div{
  border-right: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
}

.tool-panel-right > div{
  border-bottom: 1px solid #dadada;
}
