.designer-background {
  height: 800px;
  background-color: #fff;
}

.tools-background {
  height: 400px;
  width: 150px;
  position: absolute;
  background-color: aquamarine;
}

p {
  margin: 0;
}

.d-outline {

}

.d-outline:hover + rect {
  stroke-dasharray: 5, 5;
  stroke: red;
  stroke-width: 1;
}
